
AuthType shibboleth
ShibRequireSession On
Require valid-user

Options +ExecCGI
AddHandler cgi-script .py

SetEnv API_BASE "https://test.datatags.lastinger.ufl.edu/tags_project"
SetEnv API_TIMEOUT "6"
