<!-- Footer -->
<footer class="uf-footer">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-2">
        <div class="footer-logo">
          <img src="{{ base_path }}/assets/uf_logo_footer.png" 
               alt="UF Lastinger Center" 
               class="footer-logo-img">
        </div>
      </div>
      
      <div class="footer-divider"></div>
      
      <div class="col-md-4">
        <div class="row">
          <div class="col-6">
            <div class="footer-links">
              <a href="#" class="footer-link">About</a>
              <a href="#" class="footer-link">Our Work</a>
              <a href="#" class="footer-link">Impact</a>
            </div>
          </div>
          <div class="col-6">
            <div class="footer-links">
              <a href="#" class="footer-link">Partnerships</a>
              <a href="#" class="footer-link">Data Science</a>
              <a href="#" class="footer-link">Learning Lab</a>
            </div>
          </div>
        </div>
      </div>
      
      <div class="footer-divider"></div>
      
      <div class="col-md-3">
        <div class="footer-contact">
          <div class="contact-info">
            <p class="contact-email">lastinger@coe.ufl.edu</p>
            <p class="contact-address">PO Box 117052</p>
            <p class="contact-city">Gainesville, FL 32611</p>
          </div>
        </div>
      </div>
      
      <div class="footer-divider"></div>
      
      <div class="col-md-3">
        <div class="footer-social">
          <a href="#" class="social-icon" aria-label="Facebook">
            <img src="{{ base_path }}/assets/Facebook.png" alt="Facebook" class="social-icon-img">
          </a>
          <a href="#" class="social-icon" aria-label="Twitter">
            <img src="{{ base_path }}/assets/X logo.png" alt="X (Twitter)" class="social-icon-img">
          </a>
          <a href="#" class="social-icon" aria-label="LinkedIn">
            <img src="{{ base_path }}/assets/LinkedIn.png" alt="LinkedIn" class="social-icon-img">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>